@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

body {
  background: #ffffff;
}

.fb-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.fb-logo {
  width: 62px;
  height: 62px;
  background-image: url("/facebook.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 40px;
}

.fb-form {
  width: 90%;
  max-width: 360px;
}

.fb-input {
  width: 100%;
  height: 52px;
  border-radius: 12px;
  border: 1px solid #ccd0d5;
  padding: 0 16px;
  font-size: 16px;
  margin-bottom: 12px;
}

.fb-input:focus {
  outline: none;
  border-color: #1877f2;
}

.fb-login-btn {
  width: 100%;
  height: 42px;
  border-radius: 26px;
  border: none;
  background: #1877f2;
  color: white;
}
.fb-login-btn2 {
  width: 350px;
  height: 42px;
  border-radius: 26px;
  border: none;
  background: #1877f2;
  color: white;
  margin-top: 40px;
}
.mdku {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.fb-forgot {
  text-align: center;
  color: #1877f2;
  font-size: 14px;
  margin: 18px 0 40px;
}

.fb-create-btn {
  width: 80%;
  max-width: 360px;
  height: 42px;
  border-radius: 26px;
  border: 2px solid #1877f2;
  background: white;
  color: #1877f2;
  font-size: 17px;
  font-weight: 600;
  margin-top: 250px;
}

.fb-meta {
  margin-top: auto;
  margin-bottom: 20px;
  color: #8a8d91;
  font-size: 14px;
}

.feed {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

.post {
  margin-bottom: 20px;
}

.post-img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}
.text {
  font-weight: bold;
  margin-bottom: 40px;
}
